/*  1.Inline method*/
/*  2.Internal method*/
/*  3.External method*/
/* 1.Inline method*/
<h1 style="color:blue;">This is heading</h1>

/* 2.Internal method*/
<!DOCTYPE html>
<html>
<head>
    <title>Internal CSS</title>
    <style>
        h1 {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>This is heading</h1>
</body></html>

/* 3.External method*/
/* style.css FILE */
/* h1 {
    color: blue;
} */

/* index.html FILE */
<!DOCTYPE html>
<html>
<head>
    <title>External CSS</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <h1>This is heading</h1>
</body></html>
